body{
  background-color: #121212;
}
main{
  margin-top: 50px;
}
.burger{
  color: deepskyblue;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  z-index: 19;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  box-shadow: 0 0 6px deepskyblue;
}
.burger:hover{
  transition: 0.5s;
  box-shadow: 0 0 22px #0dcaf0;
  color: #0dcaf0;
}
.menu{
  min-height: 30vh;
  width: 320px;
  background-color: #2a2a2a;
  border-radius: 6px;
  top: 0;
  right: -325px;
  z-index: 20;
}
.menu.close{
  right: -325px;
  transition: 0.7s;
}
.menu.open{
  right: 5px;
  transition: 0.7s;
}
.menu-content.open{
  opacity: 1;
  transition: 2s;
}
.menu-content.close{
  opacity: 0;
  transition: 2s;
}
.close-menu, #close-event{
  top: 5px;
  left: 5px;
  color: red;
  font-size: 22px;
}
.close-menu i, #close-event i{
  border-radius: 50%;
}
.close-menu i:hover, #close-event i:hover{
  box-shadow: 0 0 20px orangered;
  color: orangered;
  transition: 1s;
  cursor: pointer;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #595959 #292929;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #292929;
}

*::-webkit-scrollbar-thumb {
  background-color: #595959;
  border-radius: 13px;
  border: 1px none #ffffff;
}

.list-wrap, .map-wrap{
  min-height: 85vh;
  margin: 1rem;
  /*box-shadow: 0 0 3px white;*/
  border-radius: 6px;
}
.map-wrap{
  height: auto;
}
#map{
  height: 100%;
  width: 100%;
  opacity: 0;
}
#map.open{
  opacity: 1;
  transition: 1s;
}
#map.close{
  opacity: 0;
  transition: 1s;
  z-index: -1;
}

/*.sa_tool{*/
/*  width: 100px;*/
/*  height: 100px;*/
/*  margin: 5px;*/
/*  border-radius: 6px;*/
/*  box-shadow: 0 0 5px blue;*/
/*  background-color: black;*/
/*}*/

.item{
  min-height: 100px;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
  display: flex;
  align-items: flex-start;
  padding: 5px;
  background-color: #1e1e1e;
}
.type{
  top: 6px;
  right: 6px;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}
.type.murder{
  box-shadow: 0 0 6px red;
  background-color: red;
}
.type.murder:hover{
  box-shadow: 0 0 20px red;
  transition: 1s;
}
.type.fight{
  box-shadow: 0 0 6px yellow;
  background-color: yellow;
}
.type.fight:hover{
  box-shadow: 0 0 20px yellow;
  transition: 1s;
}
.type.theft{
  box-shadow: 0 0 6px #00f8ff;
  background-color: #00f8ff;
}
.type.theft:hover{
  box-shadow: 0 0 20px #00f8ff;
  transition: 1s;
}
.type.shooting{
  box-shadow: 0 0 6px lawngreen;
  background-color: lawngreen;
}
.type.shooting:hover{
  box-shadow: 0 0 20px lawngreen;
  transition: 1s;
}
.type.accident{
  box-shadow: 0 0 6px blue;
  background-color: blue;
}
.type.accident:hover{
  box-shadow: 0 0 20px blue;
  transition: 1s;
}
.type.other{
  box-shadow: 0 0 6px white;
  background-color: white;
}
.type.other:hover{
  box-shadow: 0 0 20px white;
  transition: 1s;
}
.item .img{
  width: 80px;
  height: 80px;
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.t_li{
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  background-color: #3d3d3d;
  padding: 2px 10px;
  border-radius: 10px;
}
.t_li .time{
  font-size: 13px;
  font-weight: 600;
}
.t_li .media{
  display: flex;
}
.t_li .media .photo span,
.t_li .media .video span{
  font-weight: 600;
  margin-left: 3px;
}
.t_li .media .photo{
  font-size: 12px;
  color: white;
  margin-right: 5px;
}
.t_li .media .video{
  font-size: 12px;
  color: white;
}
.item .meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%  ;
  margin-left: 10px;
  max-width: 80%;
}
.item .meta span{
  color: white;
}
.item .meta .hidd{
  overflow: hidden;
  height: 50px;
}
.item .meta p{
  font-size: 15px;
  color: white;
}

.keys{
  top: -40px;
}