<div class="event-wrap">
    <div class="event">
        <div class="" id="close-event"><i class="bi bi-arrow-left-circle"></i></div>
        <div class="media-view-wrap">

            <div class="slider">
{#                <input type="hidden" value="0" id="slide">#}
{#                <input type="hidden" value="0" id="slider_count">#}
                <div class="slides">
                </div>
                <div class="l-arr arrow_sa"><i class="bi bi-arrow-left-circle-fill"></i></div>
                <div class="r-arr arrow_sa"><i class="bi bi-arrow-right-circle-fill"></i></div>
            </div>

            <div class="video-slider position-relative">

{#                <div class="video-item">#}
{#                    <video name='demo' controls autoplay>#}
{#                        <source src="https://file-examples.com/storage/feaf88582662ab83c961ac6/2017/04/file_example_MP4_1280_10MG.mp4" type="video/mp4"></source>#}
{#                    </video>#}
{#                </div>#}
{#                <div class="l-arr-video arrow_sa"><i class="bi bi-arrow-left-circle-fill"></i></div>#}
{#                <div class="r-arr-video arrow_sa"><i class="bi bi-arrow-right-circle-fill"></i></div>#}
            </div>

        </div>
        <div class="description-wrap text-light">
        </div>
    </div>
</div>
