<div class="event-wrap">
    <div class="d-flex justify-content-center">
        <div class="event">
            <div class="btn btn-outline-dark" id="close-event">Close</div>
{#            <div class="container">#}
{#                <div class="media-view-wrap">#}
{#                    <div class="slider">#}
{#                      <div style="background-color: #0a53be"></div>#}
{#                      <div style="background-color: red"></div>#}
{#                      <div style="background-color: green"></div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="description-wrap text-light">#}
{#                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias autem commodi consequuntur cum delectus dolorem, eligendi et excepturi id in ipsa iure natus pariatur quam quibusdam similique sunt temporibus unde!#}
{#                </div>#}
{#                <div class="btn btn-outline-dark">Close</div>#}
{#            </div>#}
        </div>
    </div>
</div>
<div class="bg_event"></div>
